<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap"
    />
    
  </head>
  <body>
    <div class="desktop-6">
      <div class="group-div"><div class="rectangle-div"></div></div>
      <article class="our-servive">
        <div class="group-div1">
          <div class="our-services">
            <div class="rectangle-div1"></div>
            <div class="group-div2">
              <div class="our-services1">Our Services</div>
              <div class="group-div3">
                <b class="you-can-always-pick-any-templa"
                  ><p class="you-can-always">You can always pick</p>
                  <p class="any-template-you">any template you like</p></b
                >
              </div>
            </div>
            <div class="lorem-ipsum-dolor-sit-amet-co">
              <p class="you-can-always">
                TechTurtles Resume Builder is an excellent digital tool that provides 
                several resume templates that may be employed in a multitude of areas. It includes a selection of striking themes to complement the job 
               applicant's personal preferences. The templates may also be adapted to meet
               the various needs of people looking for work. If you are searching for
               a resume builder to create a perfect template that will impress employers, look no further. 
               We provide resources for the easy creation of resumes with our resume builder accessibility.
              </p>
            </div>
          </div>
          <div class="group-div4">
            <div class="a4-2">
              <div class="rectangle-div2"></div>
              <img class="ellipse-icon" alt="" src="/pic/ellipse-3.svg" /><img
                class="ellipse-icon1"
                alt=""
                src="/pic/ellipse-4.svg"
              />
              <div class="div">+2347018723590</div>
              <div class="examplegmailcom">example@gmail.com</div>
              <div class="rectangle-div3"></div>
              <img class="ellipse-icon2" alt="" />
              <div class="rectangle-div4"></div>
              <b class="abasiodiong-john"
                ><p class="you-can-always">Abasiodiong</p>
                <p class="any-template-you">John</p></b
              ><img class="vector-icon" alt="" src="/pic/vector-1.svg" />
              <div class="uiux-designer">UI/UX designer</div>
              <b class="contact">CONTACT</b
              ><b class="work-experience">WORK EXPERIENCE</b
              ><b class="education">EDUCATION</b
              ><b class="certificate">CERTIFICATE</b
              ><b class="hobbies">HOBBIES</b
              ><b class="social-media">SOCIAL MEDIA</b
              ><b class="pro-skill">PRO SKILL</b>
              <div class="group-div5">
                <img class="vector-icon1" alt="" src="/pic/vector-2.svg" />
                <div class="rectangle-div5"></div>
              </div>
              <div class="group-div6">
                <img class="vector-icon1" alt="" src="/pic/vector-21.svg" />
                <div class="rectangle-div5"></div>
              </div>
              <img class="bxphone-icon" alt="" src="/pic/bxphone.svg" /><img
                class="carbonemail-icon"
                alt=""
                src="/pic/carbonemail.svg"
              /><b class="design-tools">Design Tools</b>
              <div class="figmaadobe-xdframerphotosho">
                <p class="you-can-always">Figma,Adobe XD,Framer,Photoshop</p>
                <p class="any-template-you">Illustrator</p>
              </div>
              <b class="programming">Programming</b
              ><b class="programming1">Programming</b>
              <div class="javascripthtmlcss-xmlandrio">
                <p class="you-can-always">Javascript,HTML,CSS</p>
                <p class="you-can-always">XML,Andriod</p>
                <p class="any-template-you">python C,cxxxx</p>
              </div>
              <div class="javascripthtmlcss-xmlandrio1">
                <p class="you-can-always">Javascript,HTML,CSS</p>
                <p class="you-can-always">XML,Andriod</p>
                <p class="any-template-you">python C,cxxxx</p>
              </div>
              <div class="group-div7">
                <div class="lorem-ipsum-dolor-sit-amet-co1">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut
                </div>
                <img class="elquotes-icon" alt="" src="/pic/elquotes.svg" />
              </div>
              <div class="rectangle-div7"></div>
              <div class="rectangle-div8"></div>
              <div class="rectangle-div9"></div>
              <div class="rectangle-div10"></div>
              <div class="rectangle-div11"></div>
              <img class="vector-icon3" alt="" src="/pic/vector-3.svg" /><img
                class="vector-icon4"
                alt=""
                src="/pic/vector-4.svg"
              /><img
                class="vector-icon5"
                alt=""
                src="/pic/vector-5.svg"
              /><img
                class="vector-icon6"
                alt=""
                src="/pic/vector-6.svg"
              /><img class="vector-icon7" alt="" src="/pic/vector-7.svg" />
              <div class="graphic-designer-vidya-accade">
                <b>Graphic Designer</b
                ><span class="vidya-accademy-it">
                  @vidya Accademy IT Division</span
                >
              </div>
              <div class="graphic-designer-vidya-accade1">
                <b>Graphic Designer</b
                ><span class="vidya-accademy-it">
                  @vidya Accademy IT Division</span
                >
              </div>
              <div class="july-2021-present-thrissor">
                July 2021-present // thrissor, kegara,india
              </div>
              <div class="july-2021-present-thrissor1">
                July 2021-present // thrissor, kegara,india
              </div>
              <div class="djjkkfkdfkfkfkflfdklfdmfmfkfkf">
                <ul class="bachalor-of-technology">
                  <li class="cjkcvkvckvcfkfdmdfmkffkfk">
                    djjkkfkdfkfkfkflfdklfdmfmfkfkfkmfmfmkf
                  </li>
                  <li class="cjkcvkvckvcfkfdmdfmkffkfk">
                    cjkcvkvckvcfkfdmdfmkffkfk
                  </li>
                  <li>fmfkfkffk,fkfkfkrlkfkfkfklfkfkfk</li>
                </ul>
              </div>
              <div class="djjkkfkdfkfkfkflfdklfdmfmfkfkf3">
                <ul class="bachalor-of-technology">
                  <li class="cjkcvkvckvcfkfdmdfmkffkfk">
                    djjkkfkdfkfkfkflfdklfdmfmfkfkfkmfmfmkf
                  </li>
                  <li class="cjkcvkvckvcfkfdmdfmkffkfk">
                    cjkcvkvckvcfkfdmdfmkffkfk
                  </li>
                  <li>fmfkfkffk,fkfkfkrlkfkfkfklfkfkfk</li>
                </ul>
              </div>
              <img
                class="ellipse-icon3"
                alt=""
                src="/pic/ellipse-5.svg"
              /><img
                class="ellipse-icon4"
                alt=""
                src="/pic/ellipse-6.svg"
              /><img
                class="ellipse-icon5"
                alt=""
                src="/pic/ellipse-7.svg"
              /><img
                class="ellipse-icon6"
                alt=""
                src="/pic/ellipse-8.svg"
              /><b class="vidya-academy-science-and-tech"
                >Vidya Academy Science and Technology
              </b>
              <div class="july-2016-2021-thrissor-ke">
                July 2016-2021 // thrissor, kegara,india
              </div>
              <div class="bachalor-of-technology-in-comp">
                <ul class="bachalor-of-technology">
                  Bachalor of Technology in Computer science Engineering
                </ul>
              </div>
              <b class="red-hat-certificate-system-adm"
                ><span class="red-hat-certificate-container"
                  ><p class="you-can-always">Red Hat certificate System</p>
                  <p class="any-template-you">Administrator</p></span
                ></b
              >
              <div class="october-2020-october-2022">
                October 2020-October 2022
              </div>
              <div class="certificate-id-190-250-047">
                Certificate ID; 190-250-047
              </div>
              <img
                class="ant-designcamera-filled-icon"
                alt=""
                src="/pic/antdesigncamerafilled.svg"
              /><img
                class="emojionesoccer-ball-icon"
                alt=""
                src="/pic/emojionesoccerball.svg"
              /><img
                class="dashiconscar"
                alt=""
                src="/pic/dashiconscar.svg"
              /><img
                class="bxsplane-take-off-icon"
                alt=""
                src="/pic/bxsplanetakeoff.svg"
              />
            </div>
            <div class="resume-sample1">
              <img
                class="rectangle-icon"
                alt=""
                src="/pic/rectangle-1.svg"
              /><img
                class="rectangle-icon1"
                alt=""
                src="/pic/rectangle-14.svg"
              />
              <div class="work-experience1">
                <div class="group-div8">
                  <div class="cont">
                    <b class="hr-manager">HR MANAGER</b>
                    <div class="lorem-ipsum-dolor-sit-amet-co2">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                      ullamco laboris.
                    </div>
                    <div class="bethany-services-grand-rapids">
                      Bethany Services, Grand Rapids, MI
                    </div>
                    <div class="div1">2015 - 2016</div>
                    <div class="rectangle-div12"></div>
                  </div>
                  <div class="group-div9">
                    <b class="hr-manager">SR. HR CONSULTANT</b>
                    <div class="lorem-ipsum-dolor-sit-amet-co2">
                      <span class="red-hat-certificate-container"
                        ><p class="you-can-always">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua.
                        </p>
                        <p class="any-template-you"></p
                      ></span>
                    </div>
                    <div class="bethany-services-grand-rapids">
                      Bethany Services, Grand Rapids, MI
                    </div>
                    <div class="div1">2017 - 2019</div>
                    <div class="rectangle-div12"></div>
                  </div>
                  <div class="group-div10">
                    <b class="hr-manager">HR DIRECTOR</b>
                    <div class="lorem-ipsum-dolor-sit-amet-co2">
                      <span class="red-hat-certificate-container"
                        ><p class="you-can-always">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit, sed do eiusmod tempor incididunt ut labore et
                          dolore magna aliqua.
                        </p>
                        <p class="any-template-you"></p
                      ></span>
                    </div>
                    <div class="bethany-services-grand-rapids">
                      Bethany Services, Grand Rapids, MI
                    </div>
                    <div class="div1">2019 - 2020</div>
                    <div class="rectangle-div12"></div>
                  </div>
                </div>
                <div class="group-div11">
                  <div class="group-div12">
                    <div class="group-div13">
                      <b class="work-experience2">WORK EXPERIENCE</b>
                    </div>
                  </div>
                  <div class="rectangle-div15"></div>
                </div>
              </div>
              <div class="rectangle-div16"></div>
              <div class="design-fontend-developer">
                DESIGN & FONTEND DEVELOPER
              </div>
              <div class="justin">
                <div class="justin1">JUSTIN</div>
                <div class="nguyen">NGUYEN</div>
              </div>
              <div class="info">
                <div class="group-div14">
                  <div class="div4">0804 - 969 - 8797</div>
                  <img class="vector-icon8" alt="" src="/pic/vector.svg" />
                </div>
                <div class="group-div15">
                  <div class="justinnguyen23gmailcom">
                    justinnguyen23@gmail.com
                  </div>
                  <img class="vector-icon9" alt="" src="/pic/vector1.svg" />
                </div>
                <div class="group-div16">
                  <div class="no-3-chubb-road-ikot-ekpene">
                    No. 3 Chubb Road, Ikot Ekpene
                  </div>
                  <img class="vector-icon10" alt="" src="/pic/vector2.svg" />
                </div>
                <div class="group-div17">
                  <div class="ikot-ekpene-akwa-ibom-state">
                    Ikot Ekpene, Akwa Ibom State
                  </div>
                  <img class="vector-icon11" alt="" src="/pic/vector3.svg" />
                </div>
              </div>
              <div class="rectangle-div17"></div>
              <img class="group-icon" alt="" src="/pic/group-42@2x.png" />
              <div class="div5">
                <img class="icon" alt="" src="/pic/.svg" />
                <div class="lorem-ipsum-dolor-sit-amet-co5">
                  <p class="you-can-always">
                    Lorem ipsum dolor sit amet, consecteturttt adipiscing elit,
                    sed do eiusmod tempor uttt incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrudddd
                    exercitation ullamco laboris nisi ut aliquipt
                  </p>
                  <p class="you-can-always">
                    ea commodo consequat. Duis aute irure do
                  </p>
                  <p class="any-template-you">
                    in reprehenderit in voluptate velit esseeeee
                  </p>
                </div>
              </div>
              <div class="pro-skills">
                <div class="frame-div">
                  <div class="group-div18">
                    <div class="group-div19">
                      <div class="group-div20">
                        <div class="rectangle-div18"></div>
                        <div class="rectangle-div19"></div>
                        <div class="rectangle-div20"></div>
                        <div class="rectangle-div21"></div>
                      </div>
                    </div>
                    <div class="figma">FIGMA</div>
                  </div>
                  <div class="group-div21">
                    <div class="group-div19">
                      <div class="group-div20">
                        <div class="rectangle-div18"></div>
                        <div class="rectangle-div23"></div>
                        <div class="rectangle-div24"></div>
                        <div class="rectangle-div21"></div>
                      </div>
                    </div>
                    <div class="figma">ILUSTRATOR</div>
                  </div>
                  <div class="group-div24">
                    <div class="group-div19">
                      <div class="group-div20">
                        <div class="rectangle-div18"></div>
                        <div class="rectangle-div23"></div>
                        <div class="rectangle-div20"></div>
                        <div class="rectangle-div29"></div>
                      </div>
                    </div>
                    <div class="figma">INDESIGN</div>
                  </div>
                  <div class="group-div27">
                    <div class="group-div19">
                      <div class="group-div20">
                        <div class="rectangle-div18"></div>
                        <div class="rectangle-div19"></div>
                        <div class="rectangle-div20"></div>
                        <div class="rectangle-div21"></div>
                      </div>
                    </div>
                    <div class="figma">PHOTOSHOP</div>
                  </div>
                  <div class="group-div30">
                    <div class="group-div19">
                      <div class="group-div20">
                        <div class="rectangle-div18"></div>
                        <div class="rectangle-div19"></div>
                        <div class="rectangle-div20"></div>
                        <div class="rectangle-div21"></div>
                      </div>
                    </div>
                    <div class="figma">HTML/CSS</div>
                  </div>
                  <div class="group-div33">
                    <div class="group-div19">
                      <div class="group-div20">
                        <div class="rectangle-div18"></div>
                        <div class="rectangle-div23"></div>
                        <div class="rectangle-div24"></div>
                        <div class="rectangle-div21"></div>
                      </div>
                    </div>
                    <div class="figma">MS-WORD</div>
                  </div>
                </div>
                <b class="pro-skills1">PRO SKILLS</b>
                <div class="rectangle-div42"></div>
              </div>
              <div class="education1">
                <div class="group-div36">
                  <b class="as-in-business-management"
                    >A.S . IN BUSINESS MANAGEMENT
                  </b>
                  <div class="lorem-ipsum-dolor-sit-amet-co6">
                    <span class="red-hat-certificate-container"
                      ><p class="lorem-ipsum-dolor4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                      </p></span
                    >
                  </div>
                  <div class="group-div37">
                    <div class="div6">2015 - 2019</div>
                  </div>
                  <div class="rectangle-div43"></div>
                </div>
                <div class="group-div38">
                  <b class="as-in-business-management"
                    >A.S . IN BUSINESS MANAGEMENT
                  </b>
                  <div class="lorem-ipsum-dolor-sit-amet-co6">
                    <span class="red-hat-certificate-container"
                      ><p class="lorem-ipsum-dolor4">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                      </p></span
                    >
                  </div>
                  <div class="group-div37">
                    <div class="div6">2015 - 2019</div>
                  </div>
                  <div class="rectangle-div43"></div>
                </div>
                <div class="group-div40">
                  <div class="group-div41">
                    <div class="work-experience2">EDUCATION</div>
                  </div>
                </div>
                <div class="rectangle-div45"></div>
              </div>
              <div class="follow-me">
                <div class="group-div42">
                  <b class="follow-me1">FOLLOW ME</b>
                  <div class="rectangle-div46"></div>
                </div>
                <div class="group-div43">
                  <div class="group-div44">
                    <div class="dribbble">
                      <div class="group-div20">
                        <div class="rectangle"></div>
                        <img
                          class="vector-icon12"
                          alt=""
                          src="/pic/vector4.svg"
                        />
                      </div>
                    </div>
                    <div class="dribbblecomjustinngu">
                      dribbble.com/Justinngu
                    </div>
                  </div>
                  <div class="group-div45">
                    <div class="twitter">
                      <div class="rectangle"></div>
                      <img class="path-icon" alt="" src="/pic/path.svg" />
                    </div>
                    <div class="twittercomjustinngu">twitter.com/Justinngu</div>
                  </div>
                  <div class="group-div46">
                    <div class="behance">
                      <div class="rectangle"></div>
                      <img
                        class="vector-icon13"
                        alt=""
                        src="/pic/vector5.svg"
                      />
                    </div>
                    <div class="behancenetjustinngu">behance.net/Justinngu</div>
                  </div>
                  <div class="group-div47">
                    <div class="behance1">
                      <div class="group-div20">
                        <div class="rectangle"></div>
                        <img
                          class="vector-icon14"
                          alt=""
                          src="/pic/vector6.svg"
                        />
                      </div>
                    </div>
                    <div class="httpsjustinngucom">https://justinngu.com</div>
                  </div>
                </div>
              </div>
              <div class="hobbies-and-interests">
                <div class="group-div48">
                  <div class="group-div12">
                    <div class="group-div50">
                      <b class="work-experience2">HOBBIES</b>
                    </div>
                  </div>
                  <div class="rectangle-div47"></div>
                </div>
                <div class="socialising-with-firends-and-f">
                  Socialising with friends and family, watching TV (BBC Clic,
                  news and documentaries), playing football on a weekly basis,
                  reading non-fiction books, solving puzzles, fishing on the
                  regular basis and computing (creating and desiging software
                  and website).
                </div>
              </div>
              <div class="rectangle-div48"></div>
              <b class="free-resume-template">Free Resume Template</b>
            </div>
            <div class="a4-3">
              <div class="rectangle-div49"></div>
              <div class="examplegmailcom1">example@gmail.com</div>
              <div class="div8">+2340718723590</div>
              <div class="lorem-street-123">LOREM STREET 123</div>
              <div class="figma-webdesign-ui-design-anim">
                <ul class="bachalor-of-technology">
                  <li class="cjkcvkvckvcfkfdmdfmkffkfk">FIGMA</li>
                </ul>
                <p class="you-can-always">&nbsp;</p>
                <ul class="bachalor-of-technology">
                  <li class="cjkcvkvckvcfkfdmdfmkffkfk">WEBDESIGN</li>
                </ul>
                <p class="you-can-always">&nbsp;</p>
                <ul class="bachalor-of-technology">
                  <li class="cjkcvkvckvcfkfdmdfmkffkfk">UI DESIGN</li>
                </ul>
                <p class="you-can-always">&nbsp;</p>
                <ul class="bachalor-of-technology">
                  <li>ANIMATION</li>
                </ul>
              </div>
              <div class="lorem-street-1231">LOREM STREET 123</div>
              <div class="rectangle-div50"></div>
              <img class="ellipse-icon7" alt="" /><b class="abasiodiong-john1"
                >Abasiodiong John</b
              >
              <div class="uiux-designer1">UI/UX designer</div>
              <div class="rectangle-div51"></div>
              <div class="rectangle-div52"></div>
              <div class="rectangle-div53"></div>
              <div class="rectangle-div54"></div>
              <b class="contact1">CONTACT</b><b class="pro-skill1">PRO SKILL </b
              ><b class="certificate1">CERTIFICATE</b
              ><b class="social-media1">SOCIAL MEDIA</b
              ><img
                class="carbonemail-icon1"
                alt=""
                src="/pic/carbonemail1.svg"
              /><img
                class="bxphone-icon1"
                alt=""
                src="/pic/bxphone1.svg"
              /><img
                class="akar-iconslocation"
                alt=""
                src="/pic/akariconslocation.svg"
              /><img
                class="faaddress-book-icon"
                alt=""
                src="/pic/faaddressbook.svg"
              />
              <div class="group-div51">
                <div class="lorem-ipsum-dolor-sit-amet-co8">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut
                </div>
                <img class="elquotes-icon1" alt="" src="/pic/elquotes1.svg" />
              </div>
              <img class="vector-icon15" alt="" src="/pic/vector-8.svg" /><img
                class="vector-icon16"
                alt=""
                src="/pic/vector-10.svg"
              /><img
                class="vector-icon17"
                alt=""
                src="/pic/vector-12.svg"
              /><b class="lorem-ipsum-dolor-sit-amet-co9"
                >Lorem ipsum dolor sit amet, consectetur</b
              >
              <div class="havard-university-oct-2015-">
                <span>Havard University </span
                ><span class="oct-2015-">(Oct 2015 - 2020)</span>
              </div>
              <div class="havard-university-oct-2015-1">
                <span>Havard University </span
                ><span class="oct-2015-">(Oct 2015 - 2020)</span>
              </div>
              <b class="b-engr-in-electrical-enginee"
                >B. ENGR. In Electrical Engineering</b
              ><b class="b-engr-in-electrical-enginee1"
                >B. ENGR. In Electrical Engineering</b
              >
              <div class="div9">2008-2013</div>
              <div class="div10">2015-2020</div>
              <div class="div11">2015-2020</div>
              <div class="div12">2015-2020</div>
              <div class="div13">2015-2020</div>
              <img class="vector-icon18" alt="" src="/pic/vector-9.svg" /><img
                class="icoutline-work-icon"
                alt=""
                src="/pic/icoutlinework.svg"
              /><img
                class="vector-icon19"
                alt=""
                src="/pic/vector-11.svg"
              /><img
                class="vsface-like-icon"
                alt=""
                src="/pic/vsfacelike.svg"
              /><b class="hobbies-and-interest">HOBBIES AND INTEREST</b
              ><img
                class="ant-designcamera-filled-icon1"
                alt=""
                src="/pic/antdesigncamerafilled1.svg"
              /><img
                class="emojionesoccer-ball-icon1"
                alt=""
                src="/pic/emojionesoccerball1.svg"
              /><img
                class="dashiconscar1"
                alt=""
                src="/pic/dashiconscar1.svg"
              /><img
                class="bxsplane-take-off-icon1"
                alt=""
                src="/pic/bxsplanetakeoff1.svg"
              /><b class="red-hat-certificate-system-adm1"
                ><span class="red-hat-certificate-container"
                  ><ul class="red-hat-certificate-system">
                    <li class="cjkcvkvckvcfkfdmdfmkffkfk">
                      Red Hat certificate System
                    </li>
                  </ul>
                  <p class="any-template-you">Administrator</p></span
                ></b
              >
              <div class="october-2020-october-20221">
                October 2020-October 2022
              </div>
              <div class="certificate-id-190-250-0471">
                Certificate ID; 190-250-047
              </div>
            </div>
          </div>
        </div>
      </article>
      <div class="frame-div1">
        <img
          class="rectangle-icon2"
          alt=""
          src="/pic/rectangle-922.svg"
        /><img
          class="rectangle-icon3"
          alt=""
          src="/pic/rectangle-922.svg"
        /><b class="techturtles">techTurtles</b>
        <!-- <a class="frame-div2" href="signIn.html"><b class="sign-in">Sign in</b></a>
        <a class="frame-div3" href="signup.html"><b class="sign-in">Sign up</b></a> -->
        <form action="/signin"  ><button type="submit" class="frame-div2 sign-in" > <b> Sign in</b></button></form>
        <form action="/signup"  ><button type="submit" class="frame-div3 sign-in sign-up" ><b>Sign up</b></button></form>

          <!-- <form action="/signin" method="post" class="frame-div2"><a href="signin.ejs" class="sign-in" type="submit" >Sign in</a></form>
          <form action="/signup" method="post" class="frame-div3"><a href="signup.ejs" class="sign-in" type="submit">Sign up</a></form>
 -->

        <b class="create-a-resume-that-secures-y"
          ><span>Create a </span><span class="resume">resume</span
          ><span> that secures your </span
          ><span class="resume">dream job</span></b
        ><img class="polygon-icon" alt="" src="/pic/polygon-2.svg" />
        <div class="group-div52">
          <div class="rectangle-div55"></div>
          <div class="rectangle-div56"></div>
        </div>
        <div class="frame-div4"></div>
        <div class="resume-template-editor-premiu">
          <img class="group-icon1" alt="" src="/pic/group-2144.svg" />
          <div class="my-resume">My Resume</div>
          <div class="logo">Logo</div>
          <div class="menu-bar">
            <div class="home">Home</div>
            <b class="home">Resume Template</b>
            <div class="home">Pricing</div>
          </div>
          <div class="download-btn"><b class="download">Download</b></div>
          <img class="ellipse-icon8" alt="" src="/pic/ellipse-90.svg" /><img
            class="group-icon2"
            alt=""
            src="/pic/group-21441.svg"
          />
          <div class="font">
            <div class="rectangle-div57"></div>
            <div class="font1">Font</div>
            <img
              class="font-svgrepo-com-1-icon"
              alt=""
              src="/pic/fontsvgrepocom-1.svg"
            />
          </div>
          <div class="theme">
            <div class="rectangle-div58"></div>
            <div class="font1">Theme</div>
            <img
              class="font-svgrepo-com-1-icon"
              alt=""
              src="/pic/colorsvgrepocom-1.svg"
            />
          </div>
          <div class="layout">
            <div class="rectangle-div59"></div>
            <div class="layout1">Layout</div>
            <img
              class="layout-svgrepo-com-1-icon"
              alt=""
              src="/pic/layoutsvgrepocom-1.svg"
            />
          </div>
          <div class="settings">
            <div class="rectangle-div60"></div>
            <div class="layout1">Settings</div>
            <img
              class="settings-svgrepo-com-1-icon"
              alt=""
              src="/pic/settingssvgrepocom-1.svg"
            />
          </div>
          <div class="change-template">
            <div class="rectangle-div61"></div>
            <div class="layout1">Change Template</div>
            <img
              class="settings-svgrepo-com-1-icon"
              alt=""
              src="/pic/exchangechangesvgrepocom-1.svg"
            />
          </div>
          <img class="previousnext-icon" alt="" src="/pic/previousnext.svg" />
          <div class="premium">Premium</div>
          <img class="profile-icon" alt="" /><img
            class="ellipse-icon9"
            alt=""
            src="/pic/ellipse-91.svg"
          /><img class="ellipse-icon10" alt="" src="/pic/ellipse-92.svg" />
          <div class="resume-sample2-premium-templa">
            <div class="group-div53">
              <div class="contact2">
                <div class="contact3">Contact</div>
                <img class="vector-icon20" alt="" src="/pic/vector-13.svg" />
                <div class="group-div54">
                  <div class="group-div55">
                    <div class="kurtwellergmailcom">+012 345 678 9101</div>
                    <img
                      class="carbonphone-filled-icon"
                      alt=""
                      src="/pic/carbonphonefilled.svg"
                    />
                  </div>
                  <div class="group-div56">
                    <div class="kurtwellergmailcom">kurtweller@gmail.com</div>
                    <img
                      class="carbonphone-filled-icon"
                      alt=""
                      src="/pic/dashiconsemail.svg"
                    />
                  </div>
                  <div class="group-div57">
                    <div class="dribbblecomkurtweller">
                      dribbble.com/kurtweller
                    </div>
                    <img
                      class="carbonphone-filled-icon"
                      alt=""
                      src="/pic/whhdribbblealt.svg"
                    />
                  </div>
                  <div class="group-div58">
                    <img
                      class="fa-brandsbehance-square-icon"
                      alt=""
                      src="/pic/fabrandsbehancesquare.svg"
                    />
                    <div class="behancecomkurtweller">
                      behance.com/kurtweller
                    </div>
                  </div>
                  <div class="group-div59">
                    <div class="linkedincominkurtweller">
                      linkedin.com/in/kurtweller
                    </div>
                    <img
                      class="carbonphone-filled-icon"
                      alt=""
                      src="/pic/ciblinkedin.svg"
                    />
                  </div>
                </div>
              </div>
              <div class="about-me">
                <div class="kurt-weller">Kurt Weller</div>
                <div class="product-designer">Product Designer</div>
                <div class="group-div60">
                  <div class="lorem-ipsum-dolor-sit-amet-co10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut
                  </div>
                  <div class="enim-ad-minim-veniam-quis-nos">
                    enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip
                  </div>
                  <img
                    class="elquotes-icon2"
                    alt=""
                    src="/pic/elquotes2.svg"
                  />
                </div>
              </div>
              <div class="achievement">
                <div class="achievements-and-certification">
                  ACHIEVEMENTS AND CERTIFICATIONS
                </div>
                <img
                  class="vector-icon21"
                  alt=""
                  src="/pic/vector-91.svg"
                /><img
                  class="vector-icon22"
                  alt=""
                  src="/pic/vector-101.svg"
                /><img
                  class="riaward-fill-icon"
                  alt=""
                  src="/pic/riawardfill.svg"
                />
                <div class="achievement-timeline">
                  <img
                    class="vector-icon23"
                    alt=""
                    src="/pic/vector-41.svg"
                  /><img
                    class="vector-icon24"
                    alt=""
                    src="/pic/vector-51.svg"
                  /><img
                    class="vector-icon25"
                    alt=""
                    src="/pic/vector-61.svg"
                  /><img
                    class="vector-icon26"
                    alt=""
                    src="/pic/vector-71.svg"
                  /><img
                    class="ellipse-icon11"
                    alt=""
                    src="/pic/ellipse-1.svg"
                  /><img
                    class="ellipse-icon12"
                    alt=""
                    src="/pic/ellipse-2.svg"
                  /><img
                    class="ellipse-icon13"
                    alt=""
                    src="/pic/ellipse-31.svg"
                  /><img
                    class="ellipse-icon14"
                    alt=""
                    src="/pic/ellipse-41.svg"
                  />
                  <div class="creative-thinking">2019</div>
                  <div class="div16">2019</div>
                  <div class="div17">2020</div>
                  <img
                    class="bxbxs-right-arrow-alt-icon"
                    alt=""
                    src="/pic/bxbxsrightarrowalt.svg"
                  />
                  <div class="best-google-intern-april-2018">
                    <span>Best Google Intern </span
                    ><span class="feb-2019-">(April 2018)</span>
                  </div>
                  <div class="codecamp-product-manager-feb">
                    <span>Codecamp Product Manager </span
                    ><span class="feb-2019-">(Feb 2019 - July 2020)</span>
                  </div>
                  <div class="figma-ambassador">Figma Ambassador</div>
                </div>
              </div>
              <div class="personal-projects">
                <div class="group-div61">
                  <img
                    class="icons8parallel-tasks"
                    alt=""
                    src="/pic/icons8paralleltasks.svg"
                  />
                  <div class="group-div62">
                    <div class="personal-projects1">PERSONAL PROJECTS</div>
                    <img
                      class="vector-icon27"
                      alt=""
                      src="/pic/vector-92.svg"
                    /><img
                      class="vector-icon28"
                      alt=""
                      src="/pic/vector-102.svg"
                    />
                  </div>
                </div>
                <div class="group-div63">
                  <div class="group-div64">
                    <div class="showbank-app-redesign">
                      ShowBank App Redesign
                    </div>
                    <div class="view-project">View Project</div>
                    <img
                      class="ellipse-icon15"
                      alt=""
                      src="/pic/ellipse-32.svg"
                    />
                  </div>
                  <div class="group-div65">
                    <div class="showbank-app-redesign">
                      Success Travel Service Rebranding
                    </div>
                    <div class="view-project">View Project</div>
                    <img
                      class="ellipse-icon15"
                      alt=""
                      src="/pic/ellipse-42.svg"
                    />
                  </div>
                  <div class="group-div66">
                    <div class="showbank-app-redesign">GeneTech App design</div>
                    <div class="view-project">View Project</div>
                    <img
                      class="ellipse-icon15"
                      alt=""
                      src="/pic/ellipse-43.svg"
                    />
                  </div>
                  <div class="group-div67">
                    <div class="showbank-app-redesign">
                      MusicBank App Icons Redesign
                    </div>
                    <div class="view-project">View Project</div>
                    <img
                      class="ellipse-icon15"
                      alt=""
                      src="/pic/ellipse-44.svg"
                    />
                  </div>
                  <div class="group-div68">
                    <div class="showbank-app-redesign">LogoFolio Project</div>
                    <div class="view-project">View Project</div>
                    <img
                      class="ellipse-icon15"
                      alt=""
                      src="/pic/ellipse-45.svg"
                    />
                  </div>
                </div>
              </div>
              <div class="work-experience3">
                <div class="group-div69">
                  <div class="work-experience4">WORK EXPERIENCE</div>
                  <img
                    class="vector-icon29"
                    alt=""
                    src="/pic/vector-22.svg"
                  /><img
                    class="vector-icon30"
                    alt=""
                    src="/pic/vector-31.svg"
                  /><img
                    class="icons8parallel-tasks"
                    alt=""
                    src="/pic/icoutlinework1.svg"
                  />
                </div>
                <div class="work-timeline">
                  <img
                    class="vector-icon31"
                    alt=""
                    src="/pic/vector-42.svg"
                  /><img
                    class="vector-icon32"
                    alt=""
                    src="/pic/vector-52.svg"
                  /><img
                    class="vector-icon33"
                    alt=""
                    src="/pic/vector-62.svg"
                  /><img
                    class="vector-icon34"
                    alt=""
                    src="/pic/vector-72.svg"
                  /><img
                    class="vector-icon35"
                    alt=""
                    src="/pic/vector-81.svg"
                  /><img
                    class="ellipse-icon20"
                    alt=""
                    src="/pic/ellipse-11.svg"
                  />
                  <div class="oracus-ng">
                    <div class="kurt-creative">Kurt Creative</div>
                    <div class="graphics-designer-jan-2020-">
                      <span>Graphics Designer</span
                      ><span class="feb-2019-"> (Jan 2020 - Present)</span>
                    </div>
                    <div class="instagramcomkurtcreative">
                      instagram.com/kurtcreative
                    </div>
                    <div class="duis-aute-irure-dolor-in-repre">
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum fugiat nulla
                      pariatur. Excepteur sint occaecat cupidatat.
                    </div>
                    <div class="div18">2020</div>
                    <img
                      class="ellipse-icon21"
                      alt=""
                      src="/pic/ellipse-21.svg"
                    />
                  </div>
                  <div class="aiesec-enugu">
                    <div class="group-div70">
                      <div class="weller-coperation">Weller Coperation</div>
                      <div class="brand-manager-jan-2020-marc">
                        <span>Lead Graphics Designer</span
                        ><span class="feb-2019-"> (Jan 2020 - Present)</span>
                      </div>
                      <div class="duis-aute-irure-dolor-in-repre1">
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                    </div>
                    <div class="div18">2020</div>
                    <img
                      class="ellipse-icon21"
                      alt=""
                      src="/pic/ellipse-33.svg"
                    />
                  </div>
                  <div class="aiesec-enugu1">
                    <div class="group-div70">
                      <div class="weller-coperation">ShowTip</div>
                      <div class="brand-manager-jan-2020-marc">
                        <span>Brand Manager</span
                        ><span class="feb-2019-"> (Jan 2020 - March 2020)</span>
                      </div>
                      <div class="duis-aute-irure-dolor-in-repre1">
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                    </div>
                    <div class="div18">2020</div>
                    <img
                      class="ellipse-icon21"
                      alt=""
                      src="/pic/ellipse-34.svg"
                    />
                  </div>
                  <div class="hotel-ng">
                    <div class="group-div72">
                      <div class="weller-coperation">StarBoard</div>
                      <div class="brand-manager-jan-2020-marc">
                        <span>UI/UX Design Intern</span
                        ><span class="feb-2019-">
                          (June 2020 - August 2020)</span
                        >
                      </div>
                      <div class="starboardinternscom">
                        starboard.interns.com
                      </div>
                      <div class="duis-aute-irure-dolor-in-repre3">
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat.
                      </div>
                    </div>
                    <div class="div18">2020</div>
                    <img
                      class="ellipse-icon21"
                      alt=""
                      src="/pic/ellipse-46.svg"
                    />
                  </div>
                  <div class="ain">
                    <div class="kurt-creative">Intercom</div>
                    <div class="graphics-designer-jan-2020-">
                      <span>Product Designer </span
                      ><span class="feb-2019-">(August 2020 - Present)</span>
                    </div>
                    <div class="instagramcomkurtcreative">intercom.com</div>
                    <div class="duis-aute-irure-dolor-in-repre4">
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur. Excepteur
                      sint occaecat cupidatat non proident, sunt in culpa qui
                      officia deserunt mollit anim id est laborum.
                    </div>
                    <div class="div18">2020</div>
                    <img
                      class="ellipse-icon21"
                      alt=""
                      src="/pic/ellipse-51.svg"
                    />
                  </div>
                  <img
                    class="bxbxs-right-arrow-alt-icon1"
                    alt=""
                    src="/pic/bxbxsrightarrowalt1.svg"
                  />
                </div>
              </div>
              <div class="skills">
                <div class="group-div73">
                  <div class="group-div74">
                    <div class="personal-projects1">SKILLS</div>
                    <img
                      class="vector-icon36"
                      alt=""
                      src="/pic/vector-93.svg"
                    /><img
                      class="vector-icon37"
                      alt=""
                      src="/pic/vector-103.svg"
                    />
                  </div>
                  <img
                    class="fa-solidtools-icon"
                    alt=""
                    src="/pic/fasolidtools.svg"
                  />
                </div>
                <div class="personal-skills">
                  <div class="personal">Personal</div>
                  <div class="creative-thinking">Creative Thinking</div>
                  <div class="communication">Communication</div>
                  <div class="leadership">Leadership</div>
                  <div class="teamwork">Teamwork</div>
                  <div class="solution-oriented">Solution Oriented</div>
                  <div class="problem-solving">Problem solving</div>
                </div>
                <div class="technical-skils">
                  <div class="personal">Technical</div>
                  <div class="creative-thinking">Adobe Xd</div>
                  <div class="communication">Adobe Photoshop</div>
                  <div class="leadership">Adobe Illustrator</div>
                  <div class="teamwork">Figma</div>
                  <div class="solution-oriented">Microsoft Office</div>
                  <div class="problem-solving">HTML/CSS</div>
                </div>
              </div>
              <div class="hobbies-interest">
                <img
                  class="fa-solidtools-icon"
                  alt=""
                  src="/pic/vsfacelike1.svg"
                />
                <div class="group-div75">
                  <div class="personal-projects1">HOBBIES AND INTEREST</div>
                  <img
                    class="vector-icon36"
                    alt=""
                    src="/pic/vector-94.svg"
                  /><img
                    class="vector-icon37"
                    alt=""
                    src="/pic/vector-104.svg"
                  />
                </div>
                <div class="group-div76">
                  <div class="group-div77">
                    <img
                      class="emojione-monotonecamera-icon"
                      alt=""
                      src="/pic/emojionemonotonecamera.svg"
                    />
                    <div class="photography">photography</div>
                  </div>
                  <img
                    class="ellipse-icon26"
                    alt=""
                    src="/pic/ellipse-61.svg"
                  />
                </div>
                <div class="group-div78">
                  <div class="group-div79">
                    <div class="data-science">Data Science</div>
                  </div>
                  <img
                    class="ellipse-icon26"
                    alt=""
                    src="/pic/ellipse-62.svg"
                  />
                </div>
                <div class="group-div80">
                  <div class="group-div81">
                    <div class="music">Music</div>
                    <img
                      class="icbaseline-library-music-icon"
                      alt=""
                      src="/pic/icbaselinelibrarymusic.svg"
                    />
                  </div>
                  <img
                    class="ellipse-icon26"
                    alt=""
                    src="/pic/ellipse-63.svg"
                  />
                </div>
                <div class="group-div82">
                  <div class="group-div83">
                    <div class="photography">Teaching</div>
                    <img
                      class="mditeach-icon"
                      alt=""
                      src="/pic/mditeach.svg"
                    />
                  </div>
                  <img
                    class="ellipse-icon26"
                    alt=""
                    src="/pic/ellipse-64.svg"
                  />
                </div>
                <img
                  class="claritydata-cluster-solid-ale-icon"
                  alt=""
                  src="/pic/claritydataclustersolidalerted.svg"
                />
              </div>
              <div class="achievement1">
                <div class="work-experience4">EDUCATION</div>
                <img
                  class="vector-icon40"
                  alt=""
                  src="/pic/vector-95.svg"
                /><img
                  class="vector-icon41"
                  alt=""
                  src="/pic/vector-105.svg"
                /><img
                  class="zondiconseducation"
                  alt=""
                  src="/pic/zondiconseducation.svg"
                />
                <div class="achievement-timeline1">
                  <img
                    class="vector-icon23"
                    alt=""
                    src="/pic/vector-43.svg"
                  /><img
                    class="vector-icon24"
                    alt=""
                    src="/pic/vector-53.svg"
                  /><img
                    class="vector-icon25"
                    alt=""
                    src="/pic/vector-63.svg"
                  /><img
                    class="vector-icon26"
                    alt=""
                    src="/pic/vector-73.svg"
                  /><img
                    class="ellipse-icon11"
                    alt=""
                    src="/pic/ellipse-12.svg"
                  /><img
                    class="ellipse-icon12"
                    alt=""
                    src="/pic/ellipse-22.svg"
                  /><img
                    class="ellipse-icon32"
                    alt=""
                    src="/pic/ellipse-47.svg"
                  />
                  <div class="div23">2008</div>
                  <div class="div24">2020</div>
                  <img
                    class="bxbxs-right-arrow-alt-icon"
                    alt=""
                    src="/pic/bxbxsrightarrowalt2.svg"
                  />
                  <div class="codecamp-product-manager-feb">
                    Lorem ipsum dolor sit amet, consectetur
                  </div>
                  <div class="prince-college-nov-2008-sep">
                    <span>Prince College </span
                    ><span class="feb-2019-">(Nov 2008 - Sept 2013)</span>
                  </div>
                  <div class="havard-university-oct-2015-2">
                    <span>Havard University </span
                    ><span class="feb-2019-">(Oct 2015 - present)</span>
                  </div>
                  <div class="b-engr-in-electrical-enginee2">
                    B. ENGR. In Electrical Engineering
                  </div>
                </div>
              </div>
            </div>
          </div>
          <img
            class="finite-loop-logo-1-1-icon"
            alt=""
            src="/pic/finite-loop-logo-1-1@2x.png"
          />
          <div class="group-div84">
            <div class="layout-menu"></div>
            <div class="rectangle-div62"></div>
            <div class="rectangle-div63"></div>
            <div class="rectangle-div64"></div>
            <div class="rectangle-div65"></div>
            <div class="layout-type">Layout Type</div>
            <div class="free">Free</div>
            <div class="frist-free-layout">
              <div class="group-div85">
                <div class="rectangle-div66"></div>
                <div class="personal-projects2">Personal Projects</div>
              </div>
              <div class="group-div86">
                <div class="rectangle-div67"></div>
                <div class="follow-me2">Follow Me</div>
                <img
                  class="social-media-campaign-svgrepo-icon"
                  alt=""
                  src="/pic/socialmediacampaignsvgrepocom-1.svg"
                />
              </div>
              <div class="group-div87">
                <div class="rectangle-div68"></div>
                <div class="about-you-short-bio">About You (Short Bio)</div>
                <img
                  class="talk-business-business-discuss-icon"
                  alt=""
                  src="/pic/talkbusinessbusinessdiscussionbusinesschattalkaboutbusinesssvgrepocom-1.svg"
                />
              </div>
              <div class="group-div88">
                <div class="rectangle-div69"></div>
                <div class="personal-details">Personal Details</div>
                <img
                  class="personal-identification-card-s-icon"
                  alt=""
                  src="/pic/personalidentificationcardsvgrepocom-1.svg"
                />
              </div>
              <div class="group-div89">
                <div class="rectangle-div70"></div>
                <div class="contact-details">Contact Details</div>
                <img
                  class="secretary-contact-management-s-icon"
                  alt=""
                  src="/pic/secretarycontactmanagementsvgrepocom-1.svg"
                />
              </div>
              <div class="group-div90">
                <div class="rectangle-div71"></div>
                <div class="work-experience5">Work Experience</div>
                <img
                  class="briefcase-work-business-svgrep-icon"
                  alt=""
                  src="/pic/briefcaseworkbusinesssvgrepocom-1.svg"
                />
              </div>
              <div class="group-div91">
                <div class="rectangle-div72"></div>
                <div class="hobbies-and-interest2">
                  <p class="you-can-always">Hobbies and</p>
                  <p class="any-template-you">Interest</p>
                </div>
                <img
                  class="basketball-player-and-ball-svg-icon"
                  alt=""
                  src="/pic/basketballplayerandballsvgrepocom-1.svg"
                />
              </div>
              <div class="group-div92">
                <div class="rectangle-div73"></div>
                <div class="skills2">Skills</div>
                <img
                  class="ability-business-skill-svgrepo-icon"
                  alt=""
                  src="/pic/abilitybusinessskillsvgrepocom-1.svg"
                />
              </div>
              <div class="group-div93">
                <div class="group-div94">
                  <div class="rectangle-div74"></div>
                  <div class="achievements-and-certification1">
                    <p class="you-can-always">Achievements and</p>
                    <p class="any-template-you">Certifications</p>
                  </div>
                </div>
              </div>
              <div class="group-div95">
                <div class="rectangle-div75"></div>
                <div class="education4">Education</div>
                <img
                  class="education-svgrepo-com-1-icon"
                  alt=""
                  src="/pic/educationsvgrepocom-1.svg"
                />
              </div>
            </div>
            <div class="frist-free-layout1">
              <div class="group-div85">
                <div class="rectangle-div66"></div>
                <div class="personal-projects2">Personal Projects</div>
              </div>
              <div class="group-div86">
                <div class="rectangle-div67"></div>
                <div class="follow-me2">Follow Me</div>
                <img
                  class="social-media-campaign-svgrepo-icon"
                  alt=""
                  src="/pic/socialmediacampaignsvgrepocom-11.svg"
                />
              </div>
              <div class="group-div87">
                <div class="rectangle-div68"></div>
                <div class="about-you-short-bio">About You (Short Bio)</div>
                <img
                  class="talk-business-business-discuss-icon"
                  alt=""
                  src="/pic/talkbusinessbusinessdiscussionbusinesschattalkaboutbusinesssvgrepocom-11.svg"
                />
              </div>
              <div class="group-div88">
                <div class="rectangle-div69"></div>
                <div class="personal-details">Personal Details</div>
                <img
                  class="personal-identification-card-s-icon"
                  alt=""
                  src="/pic/personalidentificationcardsvgrepocom-11.svg"
                />
              </div>
              <div class="group-div89">
                <div class="rectangle-div70"></div>
                <div class="contact-details">Contact Details</div>
                <img
                  class="secretary-contact-management-s-icon"
                  alt=""
                  src="/pic/secretarycontactmanagementsvgrepocom-11.svg"
                />
              </div>
              <div class="group-div90">
                <div class="rectangle-div71"></div>
                <div class="work-experience5">Work Experience</div>
                <img
                  class="briefcase-work-business-svgrep-icon"
                  alt=""
                  src="/pic/briefcaseworkbusinesssvgrepocom-11.svg"
                />
              </div>
              <div class="group-div92">
                <div class="rectangle-div73"></div>
                <div class="skills2">Skills</div>
                <img
                  class="ability-business-skill-svgrepo-icon"
                  alt=""
                  src="/pic/abilitybusinessskillsvgrepocom-11.svg"
                />
              </div>
              <div class="group-div103">
                <div class="group-div104">
                  <div class="rectangle-div83"></div>
                  <div class="achievements-and-certification2">
                    <p class="you-can-always">Achievements and</p>
                    <p class="any-template-you">Certifications</p>
                  </div>
                </div>
              </div>
              <div class="group-div95">
                <div class="rectangle-div75"></div>
                <div class="education4">Education</div>
                <img
                  class="education-svgrepo-com-1-icon"
                  alt=""
                  src="/pic/educationsvgrepocom-11.svg"
                />
              </div>
            </div>
            <div class="premium1">Premium</div>
          </div>
        </div>
        <div class="build-a-resume-thats-piques-th">
          <p class="you-can-always">
            Build a resume thats piques the interest of recruiters and
          </p>
          <p class="you-can-always">
            gets you hired. Its fast and easy to use.
          </p>
        </div>
        <img
          class="removebg-preview-1-icon"
          alt=""
          src="/pic/4015413-15160removebgpreview-1@2x.png"
        />
      </div>
      <img class="polygon-icon1" alt="" src="/pic/polygon-3.svg" />
      <article class="frame-article">
        <article class="frame-article1">
          <img class="ellipse-icon33" alt="" src="/pic/ellipse-94@2x.png" /><b
          class="vidyesh"
          >Vidyesh</b
          ><b class="our-mentor">Our Mentor</b><b class="b"></b
            ><b class="b1"></b>
            <div class="lorem-ipsum-dolor-sit-amet-co12">
              Having a professional resume makes a difference.
              resume builder made it really quick and easy to start
              applying for jobs. I got two job offers in less than a month, 
              too, which is much better than I'd expected!
            </div>
          </article>
          <article class="frame-article2">
            <img
            class="ellipse-icon34"
            alt=""
            src="/pic/ellipse-941@2x.png"
            /><b class="nagraj-pandith">Nagraj Pandith</b><b class="b2"></b
              ><b class="b3"></b><b class="web-developer">Web Developer</b>
              <div class="lorem-ipsum-dolor-sit-amet-co13">
                <p class="you-can-always">
                  I got 3 interviews, and 2 of the recruiters said 
                  that they
                  were really impressed by the quality of my resume. 
                  There's no better way to prove that TechTurtles was the right choice!
                </p>
              </div>
            </article>
            <article class="frame-article3">
              <img class="ellipse-icon35" alt="" src="/pic/Swasthik.jpg" />
              <div class="lorem-ipsum-dolor-sit-amet-co14">
                <p class="you-can-always">
                  TechTurtles really takes the stress out of making a resume.
                </p>
                <p class="any-template-you">
                  The TechTurtles resume builder made it really quick and easy to start applying for jobs.
                </p>
              </div>
              <b class="kachra-seth-web-developer"
              ><p class="you-can-always">
                <span><span class="kachra-seth1">Swasthik Shetty</span></span
                ><span><span>, </span></span>
              </p>
              <p class="web-developer1">
                <span><span>Our Mentor</span></span>
              </p></b
              ><b class="b4"></b><b class="b5"></b>
            </article>
            <b class="testimonials-from-our-previous"
            ><p class="you-can-always">Testimonials From</p>
            <p class="any-template-you">Our Previous Users</p></b
            >
            <div class="what-people-say-about-us">What People Say About Us</div>
        <img class="ellipse-icon36" alt="" src="/pic/ellipse-96.svg" /><img
        class="ellipse-icon37"
        alt=""
        src="/pic/ellipse-95.svg"
        />
      </article>
      <div class="frame-div5">
        <div class="about">
          <img class="group-icon3" alt="" src="/pic/group-21442.svg" /><img
          class="group-icon4"
          alt=""
          src="/pic/group-21443.svg"
          /><b class="about-techturtle">About TechTurtles</b
            ><img
            class="rectangle-icon7"
            alt=""
            src="/pic/rectangle-832@2x.png"
            />
            <!-- <div class="frame-div6"><b class="read-more">Read More</b></div> -->
          </div>
          <div class="lorem-ipsum-dolor-sit-amet-co15">
            <p class="lorem-ipsum-dolor8">
              We here at tech turtles strive to give the best
              resume-builder services with various kinds of
              resumes according to the needs of the individuals. 
              <br><br>
              We have consultation facilities too and have guided 
              many customers, who were unhappy with their jobs, 
              to find a career that made them happy. 
              <br><br>
              We realize what we do and we believe in serving 
              a greater purpose than just doing business.
              We care and deliver what is best for you
            </p>
          </div>
        </div>
        <img class="image-8-icon" alt="" src="/pic/image-8@2x.png" />
        <div class="resume-template-editor-theme">
          <img class="group-icon5" alt="" />
          <div class="rectangle-div85"></div>
          <div class="my-resume1">My Resume</div>
          <div class="logo1">Logo</div>
          <div class="menu-bar1">
            <div class="home1">Home</div>
            <b class="home1">Resume Template</b>
            <div class="home1">Pricing</div>
          </div>
          <div class="download-btn1"><b class="download1">Download</b></div>
          <img class="ellipse-icon38" alt="" /><img
          class="ellipse-icon39"
          alt=""
          /><img class="ellipse-icon40" alt="" />
          <div class="language-dropdown-menu">
            <div class="en-us">EN US</div>
            <img class="polygon-icon2" alt="" /><img
            class="language-svgrepo-com-1-1"
            alt=""
            />
          </div>
          <img class="group-icon6" alt="" />
          <div class="resume-sample11">
            <img class="rectangle-icon8" alt="" /><img
            class="rectangle-icon9"
            alt=""
            />
            <div class="work-experience7">
              <div class="group-div106">
                <div class="cont1">
                  <b class="hr-manager">Title/Position</b>
                  <div class="lorem-ipsum-dolor-sit-amet-co2">
                    <span class="red-hat-certificate-container"
                    ><p class="you-can-always">Add</p>
                  <p class="any-template-you">Work Descripton</p></span
                  >
                </div>
                <div class="bethany-services-grand-rapids3">
                  Workplace/Company
                </div>
                <div class="div25">From - To</div>
                <div class="rectangle-div12"></div>
              </div>
              <div class="group-div107">
                <b class="hr-manager">Title/Position</b>
                <div class="lorem-ipsum-dolor-sit-amet-co2">
                  <span class="red-hat-certificate-container"
                  ><p class="you-can-always">Add</p>
                  <p class="any-template-you">Work Description</p></span
                  >
                </div>
                <div class="bethany-services-grand-rapids3">
                  Workplace/Company
                </div>
                <div class="div25">From - To</div>
                <div class="rectangle-div12"></div>
              </div>
              <div class="group-div108">
                <b class="hr-manager">Title/Position</b>
                <div class="lorem-ipsum-dolor-sit-amet-co2">
                  <span class="red-hat-certificate-container"
                  ><p class="you-can-always">Add</p>
                  <p class="any-template-you">Work Description</p></span
                  >
                </div>
                <div class="bethany-services-grand-rapids3">
                  Workplace/Company
                </div>
                <div class="div25">From - To</div>
                <div class="rectangle-div12"></div>
              </div>
            </div>
            <div class="group-div109">
              <div class="group-div110">
                <div class="group-div111">
                  <b class="work-experience2">WORK EXPERIENCE</b>
                </div>
              </div>
              <div class="rectangle-div89"></div>
            </div>
          </div>
          <div class="rectangle-div90"></div>
          <div class="professional-title-eg-designe">
            Professional Title e.g Designer
          </div>
          <div class="justin2">
            <div class="justin1">JUSTIN</div>
            <div class="nguyen1">NGUYEN</div>
          </div>
          <div class="info1">
            <div class="group-div112">
              <div class="div28">0804 - 969 - 8797</div>
              <img class="vector-icon46" alt="" />
            </div>
            <div class="group-div113">
              <div class="justinnguyen23gmailcom1">
                justinnguyen23@gmail.com
              </div>
              <img class="vector-icon47" alt="" />
            </div>
            <div class="group-div114">
              <div class="address">Address</div>
              <img class="vector-icon48" alt="" />
            </div>
            <div class="group-div115">
              <div class="location">Location</div>
              <img class="vector-icon49" alt="" />
            </div>
          </div>
          <div class="rectangle-div91"></div>
          <img class="group-icon7" alt="" />
          <div class="div29">
            <img class="icon1" alt="" />
            <div class="lorem-ipsum-dolor-sit-amet-co19">
              <p class="you-can-always">
                Lorem ipsum dolor sit amet, consecteturttt adipiscing elit, sed
                do eiusmod tempor uttt incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrudddd exercitation
                ullamco laboris nisi ut aliquipt
              </p>
              <p class="you-can-always">
                ea commodo consequat. Duis aute irure do
              </p>
              <p class="any-template-you">
                in reprehenderit in voluptate velit esseeeee
              </p>
            </div>
          </div>
          <div class="pro-skills2">
            <div class="frame-div7">
              <div class="group-div116">
                <div class="group-div19">
                  <div class="group-div20">
                    <div class="rectangle-div18"></div>
                    <div class="rectangle-div19"></div>
                    <div class="rectangle-div20"></div>
                    <div class="rectangle-div21"></div>
                  </div>
                </div>
                <div class="figma">Skill 1</div>
              </div>
              <div class="group-div119">
                <div class="group-div19">
                  <div class="group-div20">
                    <div class="rectangle-div18"></div>
                    <div class="rectangle-div23"></div>
                    <div class="rectangle-div24"></div>
                    <div class="rectangle-div21"></div>
                  </div>
                </div>
                <div class="figma">Skill 2</div>
              </div>
              <div class="group-div122">
                <div class="group-div19">
                  <div class="group-div20">
                    <div class="rectangle-div18"></div>
                    <div class="rectangle-div23"></div>
                    <div class="rectangle-div20"></div>
                    <div class="rectangle-div29"></div>
                  </div>
                </div>
                <div class="figma">Skill 3</div>
              </div>
              <div class="group-div125">
                <div class="group-div19">
                  <div class="group-div20">
                    <div class="rectangle-div18"></div>
                    <div class="rectangle-div19"></div>
                    <div class="rectangle-div20"></div>
                    <div class="rectangle-div21"></div>
                  </div>
                </div>
                <div class="figma">Skill 4</div>
              </div>
              <div class="group-div128">
                <div class="group-div19">
                  <div class="group-div20">
                    <div class="rectangle-div18"></div>
                    <div class="rectangle-div19"></div>
                    <div class="rectangle-div20"></div>
                    <div class="rectangle-div21"></div>
                  </div>
                </div>
                <div class="figma">Skill 5</div>
              </div>
              <div class="group-div131">
                <div class="group-div19">
                  <div class="group-div20">
                    <div class="rectangle-div18"></div>
                    <div class="rectangle-div23"></div>
                    <div class="rectangle-div24"></div>
                    <div class="rectangle-div21"></div>
                  </div>
                </div>
                <div class="figma">Skill 6</div>
              </div>
            </div>
            <b class="pro-skills3">PRO SKILLS</b>
            <div class="rectangle-div116"></div>
          </div>
          <div class="education6">
            <div class="group-div134">
              <b class="as-in-business-management">Qualification</b>
              <div class="lorem-ipsum-dolor-sit-amet-co20">
                <span class="red-hat-certificate-container"
                ><p class="lorem-ipsum-dolor10">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p></span
                >
              </div>
              <div class="group-div135"><div class="div6">From - To</div></div>
              <div class="rectangle-div43"></div>
            </div>
            <div class="group-div136">
              <b class="as-in-business-management">Qualification </b>
              <div class="lorem-ipsum-dolor-sit-amet-co20">
                <span class="red-hat-certificate-container"
                ><p class="lorem-ipsum-dolor10">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit
                </p></span
                >
              </div>
              <div class="group-div135"><div class="div6">From - To</div></div>
              <div class="rectangle-div43"></div>
            </div>
            <div class="group-div138">
              <div class="group-div139">
                <div class="work-experience2">EDUCATION</div>
              </div>
            </div>
            <div class="rectangle-div119"></div>
          </div>
          <div class="follow-me4">
            <div class="group-div140">
              <b class="follow-me1">FOLLOW ME</b>
              <div class="rectangle-div120"></div>
            </div>
            <div class="group-div141">
              <div class="group-div142">
                <div class="dribbble2">
                  <div class="group-div20">
                    <div class="rectangle4"></div>
                    <img class="vector-icon50" alt="" />
                  </div>
                </div>
                <div class="select-media-handle">Select Media Handle</div>
              </div>
              <div class="group-div143">
                <div class="twitter1">
                  <div class="rectangle4"></div>
                  <img class="path-icon1" alt="" />
                </div>
                <div class="select-media-handle1">Select Media Handle</div>
              </div>
              <div class="group-div144">
                <div class="twitter1">
                  <div class="rectangle4"></div>
                  <img class="vector-icon51" alt="" />
                </div>
                <div class="select-media-handle2">Select Media Handle</div>
              </div>
              <div class="group-div145">
                <div class="twitter1">
                  <div class="group-div20">
                    <div class="rectangle4"></div>
                    <img class="vector-icon52" alt="" />
                  </div>
                </div>
                <div class="select-media-handle1">Select Media Handle</div>
              </div>
            </div>
          </div>
          <div class="hobbies-and-interests1">
            <div class="group-div146">
              <div class="group-div110">
                <div class="group-div148">
                  <b class="work-experience2">HOBBIES</b>
                </div>
              </div>
              <div class="rectangle-div121"></div>
            </div>
            <div class="write-about-what-you-love-to-d">
              <span class="red-hat-certificate-container"
              ><p class="you-can-always">Write about what you love to do</p>
              <p class="any-template-you">asides work.</p></span
              >
            </div>
          </div>
        </div>
        <div class="font2">
          <div class="rectangle-div122"></div>
          <div class="font3">Font</div>
          <img class="font-svgrepo-com-1-icon1" alt="" />
        </div>
        <div class="theme2">
          <div class="rectangle-div123"></div>
          <div class="font3">Theme</div>
          <img class="font-svgrepo-com-1-icon1" alt="" />
        </div>
        <div class="layout2">
          <div class="rectangle-div124"></div>
          <div class="layout3">Layout</div>
          <img class="layout-svgrepo-com-1-icon1" alt="" />
        </div>
        <div class="settings2">
          <div class="rectangle-div125"></div>
          <div class="layout3">Settings</div>
          <img class="settings-svgrepo-com-1-icon1" alt="" />
        </div>
        <div class="change-template2">
          <div class="rectangle-div126"></div>
          <div class="layout3">Change Template</div>
          <img class="settings-svgrepo-com-1-icon1" alt="" />
        </div>
        <img class="previousnext-icon1" alt="" />
        <div class="theme-menu"></div>
        <div class="color-1">
          <div class="rectangle-div127"></div>
          <div class="rectangle-div128"></div>
          <div class="rectangle-div129"></div>
        </div>
        <div class="color-4">
          <div class="rectangle-div130"></div>
          <div class="rectangle-div131"></div>
        </div>
        <div class="color-10">
          <div class="rectangle-div132"></div>
          <div class="rectangle-div133"></div>
        </div>
        <div class="color-13">
          <div class="rectangle-div134"></div>
          <div class="rectangle-div135"></div>
        </div>
        <div class="color-2">
          <div class="rectangle-div134"></div>
          <div class="rectangle-div137"></div>
        </div>
        <div class="color-5">
          <div class="rectangle-div138"></div>
          <div class="rectangle-div139"></div>
        </div>
        <div class="color-11">
          <div class="rectangle-div140"></div>
          <div class="rectangle-div141"></div>
        </div>
        <div class="color-14">
          <div class="rectangle-div134"></div>
          <div class="rectangle-div143"></div>
        </div>
        <div class="color-3">
          <div class="rectangle-div134"></div>
          <div class="rectangle-div145"></div>
        </div>
        <div class="color-6">
          <div class="rectangle-div146"></div>
          <div class="rectangle-div147"></div>
        </div>
        <div class="color-12">
          <div class="rectangle-div134"></div>
          <div class="rectangle-div149"></div>
        </div>
        <div class="color-15">
          <div class="rectangle-div150"></div>
          <div class="rectangle-div151"></div>
        </div>
        <div class="color">Color</div>
        <b class="free-colors">Free Colors</b
          ><b class="premium-colors">Premium Colors</b
            ><img class="profile-icon1" alt="" />
          </div>
          <div class="group-div149">
            <img
            class="rectangle-icon10"
            alt=""
            src="/pic/rectangle-9231@2x.png"
            />
            <div class="group-div150">
              <div class="rectangle-div152"></div>
              <div class="rectangle-div153"></div>
            </div>
            <b class="build-your-resume-in-3-steps"
            ><span>Build your </span><span class="resume">resume </span
              ><span>in 3 steps</span></b
              ><img class="image-7-icon" alt="" src="/pic/image-7@2x.png" /><img
              class="image-9-icon"
              alt=""
              src="/pic/image-9@2x.png"
              />
              <div class="group-div151">
                <b class="b6">2.</b
                  ><b class="just-enter-your-details">Just enter your details</b>
                  <div class="give-your-document-a-professio">
                    Give your document a professional and elegant look.
                  </div>
                </div>
                <div class="group-div152">
                  <b class="b7">3.</b>
                  <div class="download-your-resume-apply-g">
                    Download your resume, apply, get more interviews.
                  </div>
                  <b class="hit-download">Hit 'Download!'</b>
                </div>
                <div class="group-div153">
                  <b class="b8">1.</b>
                  <div class="fill-in-the-blanks-and-see-res">
                    Fill in the blanks and see results in real-time.
                  </div>
                  <b class="pick-a-template">Choose the Resume</b>
                </div>
              </div>
              <footer class="footer">
                <!-- <img class="bg-icon" alt=""/> -->
                <div class="content">
                  <div class="company">
                    <div class="company1">Company</div>
                    <div class="terms-of-service">Home</div>
                    <div class="about-us">About Us</div>
                    <div class="contact-us">Contact Us</div>
                  </div>
                  <div class="contact4">
                    <div class="company1">Contact</div>
                    <div class="terms-of-service">+91 80894-66435</div>
                    <div class="about-us">techturtles@gmail.com</div>
                  </div>
                  <div class="more">
                    <div class="terms-policies">Terms & Policies</div>
                    <div class="terms-of-service">Terms of Service</div>
                    <div class="about-us">Privacy Policy</div>
                  </div>
                </div>
                <div class="content1">
                  <div class="create-your-resume-in-a-minute">
                    <p class="you-can-always">
              Create your resume in a minute, get your
            </p>
            <p class="any-template-you">dream job in a blink.</p>
          </div>
          <div class="logo2"><b class="techturtle">TechTurtles</b></div>
        </div>
        <div class="content2">
          <div class="copyright-ashish-shankar-2022">
                 Made with  by Tech Turtles</div>
        </div>
        <div class="border"></div>
        <img class="social-icon" alt="" src="/pic/social.svg" />
      </footer>
      <div class="frame-div8">
        <div class="rectangle-div154"></div>
        <div class="rectangle-div155"></div>
        <div class="rectangle-div156"></div>
        <div class="rectangle-div157"></div>
        <div class="why-choose-us">Why Choose Us?</div>
        <b class="benefits-of-using-our-product"
        >Benefits Of Using Our Product</b
        >
        <div class="easy-to-use">
          <b class="easy-to-use1">Easy to use</b>
          <div class="the-process-of-writing-a-resum">
            <p class="you-can-always">The process of writing a resume is</p>
            <p class="you-can-always">substantially sped up and simplified</p>
            <p class="any-template-you">by using our resume builder.</p>
          </div>
          <img
          class="seated-man-wearing-headphones"
          alt=""
          src="/pic/seated-man-wearing-headphones-using-laptop@2x.png"
          />
        </div>
        <div class="cool-templates">
          <div class="cool-templates1">
            <b class="cool-templates2">Cool Template</b>
            <div class="our-template-designs-help-your">
              <p class="you-can-always">Our template designs help your</p>
              <p class="any-template-you">
                resume standout in a pool of others.
              </p>
            </div>
            <img
            class="web-design-icon"
            alt=""
            src="/pic/web-design@2x.png"
            />
          </div>
        </div>
        <div class="intelegent-design">
          <b class="intelligent-design"
          ><p class="you-can-always">Intelligent</p>
          <p class="any-template-you">Design</p></b
          >
          <div class="with-us-you-wont-have-to-bot">
            <p class="you-can-always">With us, you won't have to bother</p>
            <p class="you-can-always">about the minute details of resume</p>
            <p class="you-can-always">development, such as font</p>
            <p class="any-template-you">choice, layout, etc.</p>
          </div>
          <img class="design-process-icon" src="pic\Design_Process.svg"/>
        </div>
        <div class="no-hidden-charges">
          <div class="weve-got-a-free-version-and-o">
            <p class="you-can-always">Weve got a free version and our</p>
            <p class="you-can-always">
              premium pricing is clear. We notify you
            </p>
            <p class="any-template-you">about any new changes in good time.</p>
          </div>
          <b class="no-hidden-charges1"
          ><p class="you-can-always">No Hidden</p>
          <p class="any-template-you">Charges</p></b
          ><img
          class="no-messages-icon"
          alt=""
          src="/pic/no-messages@2x.png"
          />
        </div>
        <div class="image-12"></div>
      </div>
      <img class="rectangle-icon6" alt="" src="/pic/bgkijai3.svg" />
      <img class="rectangle-icon11" alt="" src="/pic/rectangle-913.svg" />
      <div class="resume-template-editor-premiu1"></div>
    </div>
  </body>
  </html>
